# Vim backup files.
.*.swo
.*.swp

# Generated when running GPOPS-II.
*IPOPTinfo.txt
*ADiGatorGrd.m*
*ADiGatorHes.m*

# Generated when running MuscleRedundancySolver.
MuscleAnalysis/

# Generated when running OpenSim.
err.log
out.log

# MATLAB autosave files
*.asv